@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;400;500;600;700;800;900&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}

body {
    min-width: 400px;
}

a {
    text-decoration: none;
}

header {
    padding: 10px 30px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    flex-wrap: wrap;
}

nav ul {
    align-items: center;
    display: flex;
    padding: 0;
    list-style-type: none;
}

nav i {
    color: #54B435;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    overflow: hidden;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #000;
}

.menu {
    border: none;
    outline: none;
    background-color: transparent;
    color: black;
    display: none;
}

.home {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-image: url('assets/images/banner1.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.intro {
    margin-left: 80px;
}

.intro button {
    margin-top: 50px;
    padding: 20px;
    width: 200px;
    border: none;
    outline: none;
    /* border-radius: 8px; */
    font-size: 1.2rem;
    cursor: pointer;
    color: white;
    background-color: #CF0A0A;
}

.brand-logo {
    width: 100%;
    height: 100%;
    transform: scale(1.2);
}

.intro h1 {
    font-size: 4rem;
    font-weight: 900;
    color: rgb(220, 0, 0);
}

.intro p {
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    margin-top: 20px;
    font-weight: 100;
}


.aboutUs {
    display: flex;
    padding: 30px;
    background-color: #000;
    color: white;
}

.aboutUs-img {
    flex: 0.5;
}

.aboutUs-desc {
    flex: 0.5;
    /* margin-left: 20px; */
}

.aboutUs-img img {
    width: 100%;
    height: 100%;
}

.aboutUs-desc h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: 800;
}


.aboutUs-desc .desc {
    text-align: justify;
    letter-spacing: 2px;
    line-height: 30px;
    margin: 30px;
    padding: 10px;
}

section>h2 {
    text-align: center;
}

.services {
    height: 60vh;
}

.services-info {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 100%;
}

.service a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    color: #000;
}

.service img {
    width: 100px;
    height: 100px;
}

.service p {
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 10px;
}

.trainers,
.gallery {
    margin: 20px;
    /* height: 50vh; */
}

.trainers-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.trainer {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    object-fit: contain;
    margin: 20px 0;
    border-radius: 8px;
    overflow: hidden;
    padding: 20px;
    background-color: #ddd;
}

.trainer img {
    width: 100%;
    height: 100%;

}

.trainer-detail {
    text-align: center;
}

.trainer-name {
    font-size: 1.5rem;
    margin: 5px 0;
}

.plans {
    text-align: center;
    background-color: rgb(238, 237, 237);

}

.fees {
    margin: 30px 0;
}

.fees h3 {
    margin: 15px 0;
}

.plans-info {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


.plan {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color: white;
    /* border: 1px solid rgb(180, 180, 180); */
    height: 200px;
    width: 250px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.price {
    font-size: 2.5rem;
    font-weight: 700;
}

.duration {
    font-size: 1.5rem;
}

.plans-terms {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.plans-terms p {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
}

@keyframes rise {
    from {
        opacity: 0;
        transform: translateY(10%);
    }
}

section {
    padding: 5% 0;
}

/* FOOTER CSS */
footer {
    background-color: #000;
    color: white;
}

.footer-container {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    /* align-items: center; */
}


footer ul {
    list-style-type: none;
    display: flex;
}

footer ul li {
    margin-top: 15px;
}

.fa-instagram {
    color: #8a3ab9;
}

.details i {
    font-size: 25px;
}

.fa-whatsapp {
    margin-left: 50px;
    color: #25D366;
}

footer ul li a {
    text-decoration: none;
    color: white;
}

footer>p {
    text-align: center;
    padding-bottom: 20px;
}

footer p a {
    text-decoration: none;
    color: var(--accent-color);
    font-weight: 600;
}

footer p a:hover {
    text-decoration: underline;
}


.address,
.details {
    line-height: 25px;
    letter-spacing: 1px;
    width: 350px;
}

.fa-location-dot {
    color: #696282;
    margin-left: 50px;
}




@media screen and (max-width: 768px) {

    .menu {
        display: block;
    }


    nav ul {
        display: none;
        width: 100%;
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }

    nav ul.show {
        display: flex;
    }

    .home {
        /* height: 100vh; */
        background-position: center center;
    }

    .intro {
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
    }

    .intro h1,
    .intro p {
        text-align: center;
    }

    .aboutUs {
        flex-direction: column-reverse;
    }

    .service {
        margin: 10px;
    }

    .plan {
        margin: 20px 0;
    }

    .footer-container {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .address {
        margin-top: 10px;
    }

}